.fruits {
  border: 3px solid palevioletred;
  border-radius: 20px;
  width: 220px;
  height: 125px;
  padding: 10px;
  background-color: azure;
  font-weight: 900;
  font-size: 20px;
}

.fruits p {
  padding: 0 0 3px 0;
}
