.card_item {
  font-size: 13px;
  color: black;
  text-decoration: underline;
  padding: 20px 0 17px 30px;
  border-bottom: 1px solid #e6e6e6;
}

.item_not_active {
  color: #b3b3b3;
  text-decoration: none;
}

.card_item:last-child {
  border-bottom: none;
}
