* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: flex;
}

.card {
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}

.adForm {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.adForm input {
  padding: 10px;
  border: 2px solid black;
}

.adForm button {
  padding: 10px;
  border: 2px solid black;
}
