.users_style {

  position: relative;
  border: 1px solid blue;
  background-color: rgb(8, 125, 61);
  width: 150px;
  border-radius: 10px;
  padding: 10px;
}

.users_style button {
  position: absolute;
  color: red;
  background-color: transparent;
  list-style: none;
  border: transparent;
  cursor: pointer;
  font-size: 30px;
  top: 5px;
  left: 80%;
}
