.product_card{
border: 1px solid black;
border-radius: 15px;
padding: 15px;
margin: 10px 0;
display: flex;
justify-content: space-between;

}

.product_card img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.descr_block{
    max-width: 600px;
}